<div>
    <section class="home">
        <div class="top-right">
            <marquee behavior="scroll" direction="left"><h1>Find-Your-Doctor</h1></marquee>

            
        
        </div>
        <img src="../../assets/doc.jpeg">
        
    </section>
</div>



<!-- <div class="container">
    <img src="../../assets/doc.jpeg" alt="Snow" style="width:100%;">
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
  </div> -->