<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="NgbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre> -->









<div class="bootstrap-wrapper mb10">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-12 ">
        <mat-card>
          <div class="container text-center">
          </div>
          <h1 class="text-center">
            <mat-icon style="margin-right: 2%;" aria-hidden="false" aria-label="Example home icon">book</mat-icon>Book
            Appointment
          </h1>
          
          <form >
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Full Name</mat-label>
                <input matInput name="username" placeholder="Enter your full name" required>
                 
            </mat-form-field>
        
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Mobile Number</mat-label>
              <input matInput type="number" name="number" placeholder="Enter here" required>
            </mat-form-field>

            
            
            <div class="container mb10">
              <label mb10 for="appointment" >Select Date : </label>
              <input type="date" id="appointment" name="appointment">
            </div>
            

            <mat-card >
              <select class="full-width"  aria-label="Select Time Slot">
                <option selected>Select Time-Slot</option>
                <option value="1">9:00am-12:00pm</option>
                <option value="2">3:00pm-5:00pm</option>
                
              </select>
            </mat-card>
<!-- 
            <mat-form-field >
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->



            <!-- <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Time-Slot</mat-label>
                            <mat-select> -->
            <!-- <mat-option *ngFor="let food of foods" [value]="food.value"> -->
            <!-- {{food.viewValue}} -->
            <!-- </mat-option> -->

                         

          </form>

          <section>
            <button  mat-raised-button color="primary">Submit</button>
          </section>
        </mat-card>
      </div>
    </div>
  </div>
</div>