<div class="bootstarp-wrapper">
    <div class="container">
        <div class="row" >
            <div *ngFor="let doc of listofdocs" class="col-md-4">
                <mat-card class="space">
                    <mat-card-subtitle >Doctor</mat-card-subtitle>
                    <mat-card-title >Dr. {{doc.username}}</mat-card-title>
                    
                    <mat-card-content>
                        <br>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Ea, natus corrupti quae labore aperiam placeat possimus dolorum eveniet sunt.
                            Quis veritatis, vel eligendi vero fugit cupiditate nam qui hic alias?</p>

                       <p>Specilist: {{doc.speciality}}</p>
                        <p>{{doc.username}}</p>
                        <h4>Email: {{doc.email}}</h4>

                    </mat-card-content>
                    <mat-divider inset></mat-divider>
                    <mat-card-actions>
                        <button mat-button color="primary">Make Appointment</button>

                    </mat-card-actions>
                </mat-card>

            </div>

        </div>
    </div>
</div>