<h1 class="text-center mt20">Hey Friends!!! Hello</h1>
<div>
    <div *ngFor="let doc of listofdocs">
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-6 offset-md-3">
                        <mat-card>
                            {{doc.speciality}} 
                            {{doc.username}}
                            {{doc.speciality}}
                            {{doc.email}} 
                            {{doc.id}} 
                        </mat-card>
                    </div>
                           
                </div>
            </div>
        </div>
       This is so cool
    </div>
</div>